<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @group.user.full_name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<%= form_tag group_memberships_path(@group), method: :post do %>
  <p> Enter emails separater by commas</p>
  <%= text_area_tag :emails %>
  <br>
  <%= submit_tag "Invite All" %>
<% end %>
