<h1>Pay for your pledge</h1>

<% if current_user.stripe_customer_token.present? %>
  <p>**** **** **** <%= current_user.stripe_last4 %></p>
  <%= simple_form_for "", url: pledge_payments_path(@pledge) do |f| %>
    <%= f.input :pay_with_existing, as: :hidden, input_html: {value: true} %>
    <%= f.submit "Pay with your #{current_user.stripe_card_type}" %>
  <% end %>
<% end %>

<%= simple_form_for "", url: pledge_payments_path(@pledge), html: {id: "token-form"} do |f| %>
  <%= f.input :pay_with_existing, as: :hidden, input_html: {value: false} %>
  <%= f.input :stripe_token, as: :hidden %>
<% end %>

<div id="stripe-errors"></div>
<%= simple_form_for "", html: {id: "stripe-form"} do |f| %>
  <%= f.input :card_number %>
  <div class="form-group">
    <%= f.label :expiry_date %>
    <%= select_month nil, {add_month_number: true}, {class: "form-control"} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: (Date.today.year + 7)}, {class: "form-control"} %>
  </div>
  <%= f.input :cvc %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
<noscript>
  Javascript must be enabled on your browser for the payment to work. 
</noscript>